
<div class="row-fluid">
    <div class="span"><%= form_for :blog_entry do |f| %> <div>
  <%= f.label :title %> 	
  <%= f.text_field :title %>
  <%= f.label :body %>
  <%= f.text_field :body %>
  <%= f.submit 'Save', class: "btn btn-default btn-primary" %>

  <% end %>
  <div>
      <%  @blog_all.each  do |x|  %>
      <p><%= link_to x.title , x %></p>
      <% end %>
  </div>
</div>
