
<div class="container">
  <div class="container-fluid span10 centers"> <br /> 
    <h2 style="color:cornflowerblue; text-align:center">Create A New Blog!</h2>
    <div class="row-fluid centers" style="text-align:center">
      <%= form_for :blog_entry do |f| %> 
      <%= f.label :title  %>   
      <%= f.text_field :title %>
      <%= f.label :body %>
      <%= f.text_field :body %>
        <div class="row-fluid">
          <%= f.submit 'Save', class: "btn btn-default btn-primary centers" %>
          <% end %>
        </div>
    </div>
  </div>
</div>

