<div class="hero-unit row-fluid">
  <span class="span3 wrapping">
    <h2><%= @blog_entry.mash_dash! %></h2>
      <div class="row-fluid">
        <%= button_to 'Delete-User', @del_entry, :method => :delete, data: { confirm: 'Are you sure?'}, class: "btn btn-mini btn-default" %>
        <%= form_for ([@blog_entry, @blog_entry.comments.build]) do |f| %>
          <p>
            <%= f.label :commenter %>
            <%= f.text_field :commenter %>
          </p>

          <p>
            <%= f.label :body %> 
            <%= f.text_field :body %>
            <%= f.submit 'Submit', class: "btn btn-default btn-primary" %>
          </p>
          <p><%= link_to "Back", new_blog_entry_path %></p>
        <% end %>
      </div>
  </span>

  <span class="hero-unit span6 wrapping" id="child-hero">
    <div class="hero-unit wrapping">
      <p class="blue-wrap"><%= @blog_entry.body %></p>
    </div>
    <span class="pull-right">
      <%= link_to "Edit", edit_blog_entry_path( @blog_entry ) %>
    </span>
    <legend>
      <h3 class="blue-wrap">Comments</h3>
    </legend>
    <span class="label label-info pull-right"><%= @blog_entry.comments.count %> Comments</span>
    <% @blog_entry.comments.reload.each do |x| %>
      <h4><%= x.body %></h4>
      <p class="blue-wrap">@<%= x.commenter %><%= link_to "Delete", blog_entry_comment_path(:blog_entry_id => @blog_entry.id, :id => x.id), :method => :delete, class: "btn btn-default btn-small pull-right" %></p>
    <% end %>
  </span>
</div>

