

<div class="row">
  <div class="span3">
  	<h1><strong><%= @blog_entry.title %></strong></h1>
	<p><%= @blog_entry.body %></p>
	<div><%= button_to 'Delete-User', @del_entry, :method => :delete, data: { confirm: 'Are you sure?'}, class: "btn btn-default btn-primary" %></div>
	<span><%= link_to "Back", blog_entries_path %></span>
  </div>
</div>



<span>
    <%= form_for ([@blog_entry, @blog_entry.comments.build]) do |f| %>
	  <p>
	    <%= f.label :commenter %><br />
	    <%= f.text_field :commenter %>
	  </p>
	  <p>
	    <%= f.label :body %> <br />
	    <%= f.text_field :body %> <br />
	    <%= f.submit 'Submit', class: "btn btn-default btn-primary" %>
	  </p>
    <% end %>
</span>



	<!--change from table to float/span/somethingElse-->
<div>
     <% @blog_entry.comments.reload.each do |x| %>

    	<table border="0" align="center">
            <tr><th style="background-color:lightgreen"><%= x.commenter %></th></tr> <br />
            <tr><td><%= x.body %>  


            <tr><td><%= link_to "Destroy", blog_entry_comment_path(:blog_entry_id => @blog_entry.id, :id => x.id), :confirm => 'Are you sure?', :method => :delete %></td> 
          <% end %>

        </table>
</div>