

<div class="row-fluid">
  <div class="span4">
  	<h1 style="color:cornflowerblue"><strong><%= @blog_entry.title %></strong></h1>
	<p style="color:cornflowerblue"><%= @blog_entry.body %></p>
	  <div>
		<%= button_to 'Delete-User', @del_entry, :method => :delete, data: { confirm: 'Are you sure?'}, class: "btn btn-mini btn-default" %>
	  </div>
      <span>
        <%= form_for ([@blog_entry, @blog_entry.comments.build]) do |f| %>
	      <p>
	        <%= f.label :commenter %><br />
	        <%= f.text_field :commenter %>
	      </p>
	      <p>
	        <%= f.label :body %> <br />
	        <%= f.text_field :body %> <br />
	        <%= f.submit 'Submit', class: "btn btn-default btn-primary" %>
	      </p>
	    <p><%= link_to "Back", blog_entries_path %></p>
        <% end %>
      </span>
  </div>

  <span class="span5">
    <div class="hero-unit">
	  <% @blog_entry.comments.reload.each do |x| %>
      <h3><%= x.body %></h1>
      <p>@<%= x.commenter %></p>
        <p>
        <%= link_to "Destroy", blog_entry_comment_path(:blog_entry_id => @blog_entry.id, :id => x.id), :method => :delete, class: "btn btn-default btn-small" %>
        </p>
      <% end %>
    </div>
  </span>
</div>



