<!DOCTYPE html>
<html>
<head>
  <title>Test</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body style="background:lightgray">

  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to 'Blog', root_path, :class => 'brand' %>
        <div class="nav-collapse collapse">
            <ul class="nav">
              <%= content_tag 'li', link_to('Home', root_path), :class => "#{'active' if request.path == root_path}" %>
              <%= content_tag 'li', link_to('New Blog Entry', new_blog_entry_path), :class => "#{'active' if request.path == new_blog_entry_path}" %>
            </ul>
        </div>
      </div>
    </div>
  </div>
    
  <div class="container" id="content">
    <%= yield %>
  </div> 
</body>
</html>

